{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}Course unit{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                
                
                <table class="table table-bordered">
                    <tr>
                        <th>S/No</th>
                        <th>Subject</th>
                        <th>Notes</th>
                        <th>Video</th>
                        
                 </tr>
                 {% for subject in subjects %}
                 <tr>
                     <td>{{forloop.counter}}</td>
                     <td>{{ subject.subject }}</td>
                     <td>{{ subject.Notes }}</td>
                     <td>{{ subject.video }}</td>
                     
                     </tr>
                     {% endfor %}
                 </table>
         
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}